<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAndroidGLES"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".a_primer.a_hello_triangle.HelloTriangleActivity" />
        <activity android:name=".a_primer.a_hello_triangle.practices.TwoTrianglesActivity" />
        <activity android:name=".a_primer.a_hello_triangle.practices.TwoVAOsActivity" />
        <activity android:name=".a_primer.a_hello_triangle.practices.TwoProgramsActivity" />

        <activity android:name=".a_primer.b_shader.ShadersInterpolationActivity"/>
        <activity android:name=".a_primer.b_shader.ShadersInterpolationActivity2"/>
        <activity android:name=".a_primer.b_shader.practice.ReverseTriangleActivity"/>
        <activity android:name=".a_primer.b_shader.practice.OffsetTriangleActivity"/>
        <activity android:name=".a_primer.b_shader.practice.OutColorActivity"/>

        <activity android:name=".a_primer.c_texture.TextureActivity"/>
        <activity android:name=".a_primer.c_texture.TextureActivity2"/>
        <activity android:name=".a_primer.c_texture.practice.OtherSideActivity"/>
        <activity android:name=".a_primer.c_texture.practice.FourFaceActivity"/>
        <activity android:name=".a_primer.c_texture.practice.PartTextureActivity"/>
        <activity android:name=".a_primer.c_texture.practice.MixTextureActivity"/>

        <activity android:name=".a_primer.d_transform.TransformActivity"/>
        <activity android:name=".a_primer.d_transform.practice.RotateFirstActivity"/>
        <activity android:name=".a_primer.d_transform.practice.TwoBoxesActivity"/>

        <activity android:name=".a_primer.e_coordinate.CoordinateActivity"/>
        <activity android:name=".a_primer.e_coordinate.ZBufferActivity"/>
        <activity android:name=".a_primer.e_coordinate.MoreCubeActivity"/>
        <activity android:name=".a_primer.e_coordinate.practice.FovAspectActivity"/>
        <activity android:name=".a_primer.e_coordinate.practice.ViewMatrixActivity"/>
        <activity android:name=".a_primer.e_coordinate.practice.RotateBoxesActivity"/>
    </application>

</manifest>